

    <body class="body-content">
        <div class="form-group">
            <label for="artistInput">Please input the Artist you wish to search for:</label>
            <input type="text" class="form-control" id="artistInput" />
            <button type="button" class="btn" id="searchBtn">Search</button>
        </div>

        <div id="results">
        </div>
    </body>

