

    <body class="body-content">
        <div class="form-group">
            <label for="artistInput">Please input the Artist you wish to search for:</label>
            <input type="text" class="form-control" id="artistInput" />
            <button type="button" class="btn" id="simpleSearchBtn">Search</button>
            <button type="button" class="btn" id="searchBtn">Detailed Search - this may take some time</button>
        </div>

        <div id="results">
        </div>
    </body>

